<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- launch minimal -->
  <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
  <!-- laser -->
  <node pkg="urg_node" type="urg_node" name="urg_node">
    <param name="angle_min" value="-1.6"/>
    <param name="angle_max" value="1.6"/>
  </node>
  <!-- conversion laser transform -->
  <node pkg="tf" type="static_transform_publisher" name="laser_in_base_link" args="0.03 0.0 0.0 0.0 0.0 0.0 /base_link /laser 100"/>
  <!-- map -->
  <arg name="map_file" default="$(find turtlebot_web)/map/demo/test015.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  <!-- grid to vmap convertion -->
  <node pkg="torob" type="map_to_vmap" name="torob_vmap">
    <arg name="_map_topic" value="/map"/>
  </node>
  <!-- amcl -->
  <arg name="use_map_topic"   value="true"/>
  <include file="$(find turtlebot_navigation)/launch/includes/amcl/amcl.launch.xml"/>
  <!-- launch move_base -->
  <include file="$(find turtlebot_web)/launch/includes/move_base.xml"/>
  <!-- joystick -->
  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="joy_node/dev" value="/dev/input/js0"/>
  </node>
  <!-- Xbox controler -->
  <include file="$(find turtlebot_teleop)/launch/xbox360_teleop.launch"/>
  <!-- pos -->
  <node pkg="robot_pose_publisher" type="robot_pose_publisher" name="robot_pose_publisher"/>
  <!-- web -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
  <!-- kinect -->
  <include file="$(find freenect_launch)/launch/freenect.launch">
    <arg name="depth_registration" value="true" />
    <arg name="rgb_processing"                  value="true" />
    <arg name="ir_processing"                   value="false" />
    <arg name="depth_processing"                value="false" />
    <arg name="depth_registered_processing"     value="true" />
    <arg name="disparity_processing"            value="false" />
    <arg name="disparity_registered_processing" value="false" />
    <arg name="sw_registered_processing"        value="false" />
    <arg name="hw_registered_processing"        value="true" />
  </include>
  <!-- conversion kinect transform -->
  <node pkg="tf" type="static_transform_publisher" name="camera_in_base_link" args="0.06 0.0 0.0 0.0 0.0 0.0 /base_link /camera_link 5000"/>
  <!-- web video -->
  <node pkg="web_video_server" type="web_video_server" name="web_video_server">
    <param name="port" value="8081"/>
  </node>
</launch>
